h1 {
    color: #777777;
}

.name {
	padding: 0.5em;
	font-size: 4em;
	font-weight: 700;
	text-transform: uppercase;
	color: #424652;
	float: left;
	width: 100%;
	text-align: center;
}

.checkboxinput {
	position: static !important;
	margin-left: 0px !important;

}

.wmd-panel {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.controls {
	padding-bottom: 0.5em; 
}

